.headercontainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.headertop{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.headerbottom{
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secone{
    display: flex;
    width: 33%;
    align-items: center;
    height: 100%;
}

.sectwo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    gap: 30px;
}

.sectwolink{
    text-decoration: none;
    color: black;
}

.secthree{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 33%;
    height: 100%;
    gap: 30px;
    padding-right: 20px;
}