*{
    margin: 0;
    padding: 0;
}

.homecontainer{
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.section1{
    width: 100%;
    height: 580px;
    background-image: url(../assets/images/home/home1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: center;
}

.section1text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1text h1{
    font-size: 3rem;
    font-family: 'Brush Script MT', cursive;
    margin-bottom: 20px;
}

.section1text div{
    margin-bottom: 40px;
}

.section1text button{
    padding: 15px;
    background-color: black;
    color: white;
    transition: 0.3s;
}

.section1text button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.section2{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.section2text{
    width: 100%;
    height: 40%;
    display: flex;
}

.section2text1{
    width: 50%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.section2text1 h5{
    margin-top: 80px;
}

.section2text1 h1{
    font-size: 2rem;
}

.section2text2{
    width: 50%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.section2text2 button{
    width: 20%;
    padding: 5px;
    background-color: #f3df6f;
}

.section2carousel{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.section2carousel div{
    width: 20%;
    height: 100%;
    background-color: aliceblue;
}

.section2carousel div button{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    background-color: black;
    color: white;
}

.section3{
    width: 100%;
    height: 600px;
    display: flex;
}

.section3text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #785050;
    color: white;
}

.section3text h1{
    font-size: 2rem;
}

.section3text button{
    padding: 10px;
    background-color: #f3df6f;
}

.section3image{
    width: 50%;
    background-image: url(../assets/images/home/home5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section4{
    width: 100%;
    height: 600px;
    display: flex;
}

.section4text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6d5180;
    color: white;
}

.section4text h1{
    font-size: 2rem;
}

.section4text button{
    padding: 10px;
    background-color: #f3df6f;
}

.section4image{
    width: 50%;
    background-image: url(../assets/images/home/home10.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section5{
    width: 100%;
    height: 600px;
    display: flex;
}

.section5text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6d5180;
    color: white;
}

.section5text h1{
    font-size: 2rem;
}

.section5text button{
    padding: 10px;
    background-color: #f3df6f;
}

.section5image{
    width: 50%;
    background-image: url(../assets/images/home/home12.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section6{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.section6text{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section6text h1{
    font-size: 2rem;
    margin-bottom: 10px;
}

.section6text button{
    padding: 10px;
    background-color: white;
}

.section6carousel{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.section6carousel div{
    width: 20%;
    height: 100%;
    background-color: white;
}
